[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "python -m scripts.formatter"
build="pyinstaller stitchtoon.spec"

[packages]
pillow = "*"
natsort = "*"
psd-tools = "*"
progress = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pyinstaller = "*"
mypy-lang = "*"
tox = "*"

[requires]
python_version = "3.*"
